# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# IDE-specific files
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
